@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap");
/* line 2, views/assets/scss/app.scss */
* {
  font-family: 'Ubuntu', sans-serif; }

/* line 9, views/assets/scss/_vars.scss */
.padding {
  padding: 10px; }

/* line 11, views/assets/scss/_vars.scss */
.padding-top {
  padding-top: 10px; }

/* line 11, views/assets/scss/_vars.scss */
.padding-left {
  padding-left: 10px; }

/* line 11, views/assets/scss/_vars.scss */
.padding-right {
  padding-right: 10px; }

/* line 11, views/assets/scss/_vars.scss */
.padding-bottom {
  padding-bottom: 10px; }

/* line 16, views/assets/scss/_vars.scss */
.padding-small {
  padding: 5px; }

/* line 18, views/assets/scss/_vars.scss */
.padding-top-small {
  padding-top: 5px; }

/* line 18, views/assets/scss/_vars.scss */
.padding-left-small {
  padding-left: 5px; }

/* line 18, views/assets/scss/_vars.scss */
.padding-right-small {
  padding-right: 5px; }

/* line 18, views/assets/scss/_vars.scss */
.padding-bottom-small {
  padding-bottom: 5px; }

/* line 23, views/assets/scss/_vars.scss */
.padding-medium {
  padding: 20px; }

/* line 25, views/assets/scss/_vars.scss */
.padding-top-medium {
  padding-top: 20px; }

/* line 25, views/assets/scss/_vars.scss */
.padding-left-medium {
  padding-left: 20px; }

/* line 25, views/assets/scss/_vars.scss */
.padding-right-medium {
  padding-right: 20px; }

/* line 25, views/assets/scss/_vars.scss */
.padding-bottom-medium {
  padding-bottom: 20px; }

/* line 30, views/assets/scss/_vars.scss */
.padding-large {
  padding: 30px; }

/* line 32, views/assets/scss/_vars.scss */
.padding-top-large {
  padding-top: 30px; }

/* line 32, views/assets/scss/_vars.scss */
.padding-left-large {
  padding-left: 30px; }

/* line 32, views/assets/scss/_vars.scss */
.padding-right-large {
  padding-right: 30px; }

/* line 32, views/assets/scss/_vars.scss */
.padding-bottom-large {
  padding-bottom: 30px; }

/* line 37, views/assets/scss/_vars.scss */
.margin {
  margin: 10px; }

/* line 39, views/assets/scss/_vars.scss */
.margin-top {
  margin-top: 10px; }

/* line 39, views/assets/scss/_vars.scss */
.margin-left {
  margin-left: 10px; }

/* line 39, views/assets/scss/_vars.scss */
.margin-right {
  margin-right: 10px; }

/* line 39, views/assets/scss/_vars.scss */
.margin-bottom {
  margin-bottom: 10px; }

/* line 44, views/assets/scss/_vars.scss */
.margin-small {
  margin: 5px; }

/* line 46, views/assets/scss/_vars.scss */
.margin-top-small {
  margin-top: 5px; }

/* line 46, views/assets/scss/_vars.scss */
.margin-left-small {
  margin-left: 5px; }

/* line 46, views/assets/scss/_vars.scss */
.margin-right-small {
  margin-right: 5px; }

/* line 46, views/assets/scss/_vars.scss */
.margin-bottom-small {
  margin-bottom: 5px; }

/* line 51, views/assets/scss/_vars.scss */
.margin-medium {
  margin: 20px; }

/* line 53, views/assets/scss/_vars.scss */
.margin-top-medium {
  margin-top: 20px; }

/* line 53, views/assets/scss/_vars.scss */
.margin-left-medium {
  margin-left: 20px; }

/* line 53, views/assets/scss/_vars.scss */
.margin-right-medium {
  margin-right: 20px; }

/* line 53, views/assets/scss/_vars.scss */
.margin-bottom-medium {
  margin-bottom: 20px; }

/* line 58, views/assets/scss/_vars.scss */
.margin-large {
  margin: 30px; }

/* line 60, views/assets/scss/_vars.scss */
.margin-top-large {
  margin-top: 30px; }

/* line 60, views/assets/scss/_vars.scss */
.margin-left-large {
  margin-left: 30px; }

/* line 60, views/assets/scss/_vars.scss */
.margin-right-large {
  margin-right: 30px; }

/* line 60, views/assets/scss/_vars.scss */
.margin-bottom-large {
  margin-bottom: 30px; }

/* line 18, views/assets/scss/app.scss */
.bg-black {
  background: #000; }

/* line 22, views/assets/scss/app.scss */
.text-white {
  color: #fff; }

/* line 25, views/assets/scss/app.scss */
.text-bold {
  font-weight: bold; }

/* line 28, views/assets/scss/app.scss */
.text-small {
  font-size: 0.8rem; }

/* line 31, views/assets/scss/app.scss */
.text-lead {
  font-size: 2em;
  font-weight: 200; }

/* line 37, views/assets/scss/app.scss */
.position-relative {
  position: relative; }

/* line 40, views/assets/scss/app.scss */
.position-absolute {
  position: absolute; }

/* line 43, views/assets/scss/app.scss */
.position-top-left {
  position: absolute;
  top: 0;
  left: 0; }

/* line 50, views/assets/scss/app.scss */
.button {
  border-radius: 100px;
  padding: 3px 20px;
  border: 2px solid #fff;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.2); }

/* line 57, views/assets/scss/app.scss */
.button-warning {
  color: #fff;
  background: #fecc03;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fecc03 0%, #f80 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fecc03 0%, #f80 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fecc03 0%, #f80 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecc03', endColorstr='#f80',GradientType=0 );
  /* IE6-9 */ }

/* line 66, views/assets/scss/app.scss */
.btn-warning:hover {
  border-color: #fff !important; }

/* line 70, views/assets/scss/app.scss */
.button-danger {
  color: #fff;
  background: #f73726;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f73726 0%, #9c241d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f73726 0%, #9c241d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f73726 0%, #9c241d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73726', endColorstr='#9c241d',GradientType=0 );
  /* IE6-9 */ }

/* line 80, views/assets/scss/app.scss */
.card {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 2px #bbb;
  padding: 40px 20px; }

/* line 87, views/assets/scss/app.scss */
#nav ul {
  margin-left: -15px; }
  /* line 89, views/assets/scss/app.scss */
  #nav ul li {
    padding: 0px 15px; }
    /* line 91, views/assets/scss/app.scss */
    #nav ul li a {
      font-size: 1.6em;
      color: #777;
      padding: 5px 0;
      display: inline-block;
      font-weight: bold; }
      /* line 97, views/assets/scss/app.scss */
      #nav ul li a span {
        font-size: 1rem;
        color: #f80;
        float: right;
        margin-top: 0.9em;
        margin-left: 5px; }

/* line 107, views/assets/scss/app.scss */
#nav span.text-small {
  padding: 15px 0px;
  display: inline-block; }

/* line 113, views/assets/scss/app.scss */
#menu {
  background: #f2f2f2;
  border-top: 1px solid #ddd; }
  /* line 116, views/assets/scss/app.scss */
  #menu ul {
    margin-bottom: 0; }
    /* line 118, views/assets/scss/app.scss */
    #menu ul li {
      padding: 0 20px; }
      /* line 120, views/assets/scss/app.scss */
      #menu ul li a {
        font-size: 1.05em;
        color: #555;
        font-weight: bold;
        display: inline-block;
        padding: 20px 0px; }

/* line 131, views/assets/scss/app.scss */
#content {
  margin: 30px auto; }

/* line 135, views/assets/scss/app.scss */
#nav ul li {
  padding: 10px 15px !important; }

/* line 139, views/assets/scss/app.scss */
.flex {
  display: flex; }

/* line 143, views/assets/scss/app.scss */
.justify-center {
  justify-content: center; }

/* line 147, views/assets/scss/app.scss */
.items-center {
  align-items: center; }

/* line 151, views/assets/scss/app.scss */
.flex-col {
  flex-direction: column; }

/* line 155, views/assets/scss/app.scss */
.flex-grow {
  flex-grow: 1; }

/* line 158, views/assets/scss/app.scss */
.icon-bar {
  background-color: #777 !important; }

/* line 162, views/assets/scss/app.scss */
.w-full {
  min-width: 100%; }

/* line 165, views/assets/scss/app.scss */
.overflow-x-auto {
  overflow-x: auto; }

/* line 169, views/assets/scss/app.scss */
.font-400 {
  font-weight: 400; }

/* line 175, views/assets/scss/app.scss */
.app-table thead tr th a {
  font-weight: 400; }

/* line 178, views/assets/scss/app.scss */
.app-table tbody tr td {
  color: #4a5568; }

/* line 181, views/assets/scss/app.scss */
.app-table a {
  color: #2d3748; }

/* line 188, views/assets/scss/app.scss */
.app-page a {
  color: #2d3748 !important; }

/* line 192, views/assets/scss/app.scss */
.active a {
  color: white !important;
  background-color: #777 !important;
  border-color: #777 !important; }
